<div class="col-12 my-3">
  <div class="card">
    <div class="card-body">
      <%= @store.name %>
    </div>
  </div>
</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">终端库存</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
    <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button>
  </div>
</nav>

<div class="col-12 mt-3">
  <div class="scrollable-area" style="height: calc(100vh - 500px); overflow-y: auto;">
    <table class="table table-striped">
      <thead class="sticky-top bg-white">
        <tr>
          <th>药品名称</th>
          <th>库存</th>
          <th>分销数量</th>
        </tr>
      </thead>
      <tbody>
        <% @store.stocks.each do |stock| %>
          <%= render partial: "drug_table_line_item", locals: { stock: stock } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <small class="text-secondary">该终端共有店员</small>
        <p class="fs-1 fw-bolder text-center mb-0 "><%= @store.clerks.count %></p>
      </div>
    </div>
  </div>
  <% @store.clerks.each_with_index do |clerk, index| %>
    <div class="col-4 mt-3">
      <%= render clerk, index: index %>
    </div>
  <% end %>
</div>

