<div class="col-12 mt-3">
  <div class="card">
    <div class="card-body">
      <%= @store.name %>
    </div>
  </div>
</div>

<div class="col-12 mt-3">
  <div class="scrollable-area" style="height: calc(100vh - 500px); overflow-y: auto;">
    <table class="table table-striped">
      <thead class="sticky-top bg-white">
        <tr>
          <th>药品名称</th>
          <th>库存</th>
          <th>分销数量</th>
        </tr>
      </thead>
      <tbody>
        <% @store.stocks.each do |stock| %>
          <%= render partial: "drug_table_line_item", locals: { stock: stock } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <small class="text-secondary">该终端共有店员</small>
        <p class="fs-1 fw-bolder text-center mb-0 "><%= @store.clerks.count %></p>
      </div>
    </div>
  </div>
  <% @store.clerks.each_with_index do |clerk, index| %>
    <div class="col-4 mt-3">
      <%= render clerk, index: index %>
    </div>
  <% end %>
</div>

