<div id="<%= dom_id clerk %>" class="card mb-3">
  <div class="card-header">
    <% if local_assigns.has_key?(:index) %>
      <span class="badge rounded-pill text-bg-secondary"><%= index+1 %></span>
    <% end %>
    <%= clerk.fullname %>
  </div>
  <div class="card-body">
    <span class="badge text-bg-info">温和可信</span>
    <span class="badge text-bg-primary">技术专业</span>
    <span class="badge text-bg-danger">成本敏感</span>
    <span class="badge text-bg-secondary">口才优秀</span>
  </div>
</div>
