<div class="col-12">
  <div class="card my-3">
    <div class="card-header">
      <p class="fs-6 text-secondary mb-0">拜访记录一览 / 拜访人：<%= Current.user.email_address %></p>
  </div>
  <div class="card-body">
    <p class="fs-5 text-center mb-0 "><%= @store.name %></p>
  </div>
</div>

<div class="row mb-3">
  <div class="col-4">
  </div>
  <div class="col-4">
  </div>
  <div class="col-4 d-grid">
    <%= link_to "新建访问记录", new_store_visit_path(@store), class: "btn btn-primary float-end" %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <% @visits.each_with_index do |visit, index| %>
      <%= render "visits/visit", visit: visit, index: index %>
    <% end %>
  </div>
</div>